.section-rating {
    margin-bottom: rem(140);
}

.company {
    &-ration {
        background: transparent !important;
        display: flex;
        justify-content: center;
        position: static;
        height: auto;
        width: 100%;
        margin-top: rem(32);
        margin-bottom: rem(26);

        .star-ratio {
            width: rem(30) !important;
            height: rem(28) !important;
            position: static;
            &.checked {
                background: url(../images/star-check.svg);
                background-size: rem(30) rem(28);
                background-repeat: no-repeat;
            }

            &.no-cheked {
                background: url(../images/star-nocheck.svg);
                background-size: rem(30) rem(28);
                background-repeat: no-repeat;
            }

            &:not(:last-child) {
                margin-right: rem(6);
            }
        }
    }

    &-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: rem(165);
        row-gap: rem(165);

        &__item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-image {
        max-width: 100%;
        width: 100%;
        max-height: rem(50);
        object-fit: contain;
        object-position: center;
    }

    &-text {
        @include font-20;
    }
}

@media (max-width: 767px) {
    .section-rating {
        display: none;
    }
}