.sidebar {
    &-wrap {
        margin-left: auto;
    }

    &-title {
        @include font-h4;
        margin-bottom: rem(40);
    }

    $this: &;

    &__item {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }

        &.sidebar__item--active {
            #{$this}__link {
                color: $color2;
            }
        }

        @media (min-width: 1024px) {
            &:hover:not(.sidebar__item--active) {
                #{$this}__link {
                    text-decoration: underline;
                }
            }
        }
    }

    &__link {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #272727;
        transition: $transition;
        
        @media (max-width: 1279px) {
            font-size: calcFluid(16, 20, 375, 1920);
        }
    }
}

.post__sidebar-wrap {
    position: sticky;
    top: 20px;
}

@media (max-width: 992px) {
   .sidebar {
       &-wrap {
        order: -1;
        margin-bottom: 50px;
       }
       
       &__item.sidebar__item--active .sidebar__link {
        color: #272727;
       }
   }
}